# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21" # Updated to 1.21 for better Wasm support

      - name: Build Standard
        run: go build -o chess ./cmd/chess

      - name: Test
        run: go test -v ./...

      - name: Build Wasm
        run: |
          GOOS=js GOARCH=wasm go build -o web/main.wasm ./cmd/wasm/main.go
          cp $(go env GOROOT)/misc/wasm/wasm_exec.js web/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./web

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
